@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;500;700;900&display=swap");

/*font-family: 'Roboto', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
html,
body {
  position: relative;
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-container > .swiper-wrapper > .swiper-slide {
  /* mozda baguje */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination-bullet-active {
  color: #cc1f38 !important;
  background-color: #cc1f38 !important;
}
/*--------------------------------Radionica1------------------------------------------------*/

#radionice {
  background: url(./img/Radionice_compressed.png);
  min-height: 100vh;
  background-size: cover;
}
.containerR1 {
  min-height: 80vh;
  position: absolute;
  left: 10%;
  top: 15%;
  bottom: 10%;
  right: 5%;
  width: 80%;
  display: grid;
  grid-template-areas: "h2 h2 h2" "img txt txt" "empty btn btn";
  grid-gap: 2%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(74px);
  border-radius: 15px;
  padding: 2%;
}
#titleR1 {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: 1%;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07),
    -30px 30px 30px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.35);
}
#subtitleR1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  grid-area: h2;
  text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07),
    -30px 30px 30px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.35);
}
.cardR1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  margin-left: 10%;
  border-radius: 5px;
  grid-area: img;
}

.cardR1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}
.cardContainerR1 {
  padding: 2px 16px;
}
#textR1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  grid-area: txt;
  padding-top: 5%;
}
.buttonsR1 {
  display: flex;
  width: 100%;
  justify-content: center;
  grid-area: btn;
  justify-content: space-around;
}
#btn1R1 {
  height: 60%;
  width: 30%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#popUpRadionica {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: #fefefe;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(150px);
  box-sizing: border-box;
  border-radius: 15px;
}

#popUpRadionica2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: #fefefe;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(150px);
  box-sizing: border-box;
  border-radius: 15px;
}

/* Modal Content/Box */
.popupRadionica-content {
  background-color: #fefefe;
  margin: 1rem auto; /* 15% from the top and centered */
  padding: 1rem;
  font-family: Roboto;
  font-weight: 300;
  width: 80%;
  font-size: 24px; /* Could be more or less, depending on screen size */
}

.popupRadionica-content h3 {
  margin-bottom: 10px;
  font-size: 36px;
}

/* The Close Button */
.close1, .close2 {
  color: #aaa;
  float: right;
  position: absolute;
  right: 12px;
  top: 5px;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus, .close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*--------------------------------Radionica2------------------------------------------------*/
#radionica1,
#radionica2 {
  background: url(./img/Radionice_compressed.png);
  min-height: 100vh;
  background-size: cover;
}
#radionica2{
  background: url(./img/radionica2.png);
}
.containerR2 {
  min-height: 80vh;
  position: absolute;
  left: 10%;
  top: 15%;
  bottom: 10%;
  right: 5%;
  width: 80%;
  display: grid;
  grid-template-areas: "h2 h2 h2" "img txt txt" "empty btn btn";
  grid-gap: 2%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(74px);
  border-radius: 15px;
  padding: 2%;
}
#titleR2 {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: 1%;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07),
    -30px 30px 30px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.35);
}
#subtitleR2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  grid-area: h2;
  text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07),
    -30px 30px 30px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.35);
}
.cardR2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  margin-left: 10%;
  border-radius: 5px;
  grid-area: img;
}

.cardR2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cardContainerR2 {
  padding: 2px 16px;
}
#textR2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  grid-area: txt;
  padding-top: 5%;
}
.buttonsR2 {
  display: flex;
  width: 100%;
  justify-content: center;
  grid-area: btn;
  justify-content: space-around;
}
#btn1R2 {
  height: 60%;
  width: 30%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*--------------------------------Panel i Speed dating--------------------------------------------*/

#datingAndPanel {
  background: url(./img/TechChallenge_compressed.png);
  min-height: 100vh;
  background-size: cover;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.panelDiskusija {
  height: fit-content;
  display: grid;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(74px);
  border-radius: 15px;
  padding: 2%;
  display: grid;
  grid-template-areas: "h2 txt txt txt txt txt txt txt txt txt txt txt txt txt txt txt txt";
  grid-gap: 0%;
  margin-bottom: 2%;
  padding-bottom: 100px;
}
#titlePanel {
  font-family: Roboto;
  font-style: normal;
  padding-top: 2vh;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  word-break: normal;
  grid-area: h2;
  text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07),
    -30px 30px 30px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.35);
}
#textPanel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  grid-area: txt;
}


#btnPanel {
  height: 50px;
  width: 100px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 10px;
  right: 5px;
  bottom: 1px;
}

#panelDiskusijaPopup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: -1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: #fefefe;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(150px);
  box-sizing: border-box;
  border-radius: 15px;
}

/* Modal Content/Box */
.panelDiskusijaPopup-content {
  background-color: #fefefe;
  margin: 1rem auto; /* 15% from the top and centered */
  padding: 1rem;
  font-family: Roboto;
  font-weight: 300;
  width: 80%;
  font-size: 24px; /* Could be more or less, depending on screen size */
}

.panelDiskusijaPopup-content h3 {
  margin-bottom: 10px;
  font-size: 36px;
}

.swiper-panel {
  position: relative;
  overflow: hidden;
  width: 312px;
  height: 20% !important;
  margin: auto;
  display: none;
}
@media (max-width: 420px) {
  .swiper-panel {
    height: 200px !important;
    width: 300px;
  }
  .swiper-panel .swiper-slide {
    width: 100px !important;
    height: 200px;
  }

  .swiper-panel .swiper-slide .team-card {
    height: 100%;
  }

  .swiper-panel .swiper-slide .team-card .team-card-img {
    width: 100% !important;
    height: 50px !important;
  }
}

.swiper-panel .swiper-wrapper {
  position: relative;
  width: 10000%;
}

.swiper-panel .swiper-slide {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 312px !important;
}

.swiper-panel .swiper-slide .team-card {
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  padding-top: 5px;
  box-sizing: border-box;
  backdrop-filter: blur(74px);
  border-radius: 15px;
}

.swiper-panel .swiper-slide .team-card .team-card-img {
  margin: auto;
  margin-top: 5px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 292px !important;
  height: 261px !important;
}

.swiper-panel .swiper-slide .team-card .core-ime-i-prezime {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.35rem;
  margin: 0.2rem;
}

.swiper-panel .swiper-slide .team-card .core-uloga {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.25rem;
}

.speedDating {
  min-height: 10vh;
  display: grid;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(74px);
  border-radius: 15px;
  padding: 2%;
  display: grid;
  grid-template-areas: "txt txt txt txt h2";
  grid-gap: 2%;
}
#titleSpeed {
  font-family: Roboto;
  font-style: normal;
  padding-top: 2vh;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  grid-area: h2;
  text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07),
    -30px 30px 30px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.35);
}
#textSpeed {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  grid-area: txt;
}
/*--------------------------------------------------------------------------------------------------*/

/*-------------------------------AGENDA-------------------------------*/

#agenda {
  min-height: 100vh;
  position: relative;
  background: url(./img/Agenda1_compressed.jpg) no-repeat;
}

#agenda h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 94px;
  text-align: center;
  color: #14191c;
  text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07),
    -30px 30px 30px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 50px;
}

.agenda-container {
  width: 50%;
  margin: auto;
}
.carousel {
  /* Note: backdrop-filter has minimal browser support */
  backdrop-filter: blur(35px);
  border: 1px solid #ffffff;
  border-radius: 15px;
  height: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}
.slider {
  display: flex;
  height: 100%;
  width: 500%;
}
.slider section {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.slider section h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  height: 36px;
}

.slider section .maj-11,
.maj-12,
.maj-13 {
  margin-bottom: 4rem;
}

.slider section .maj-14 {
  margin-bottom: 7.5rem;
}

.slider section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
}

.slider section ul li {
  margin: 1rem;
}

.slider section ul li h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider section li p {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 1.5rem;
}

.left,
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow i {
  font-size: 70px;
  user-select: none;
  color: #333;
}
.left {
  left: 5rem;
}
.right {
  right: 5rem;
}
.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.control ul li {
  width: 10px;
  height: 10px;
  background: #333;
  border: 2px solid #333;
  border-radius: 50px;
  margin: 20px;
  cursor: pointer;
}
.control ul li.selected {
  background: transparent;
}

@media (max-width: 767.98px) {
  .slider section ul li h4 {
    font-size: 1.1rem;
  }

  .slider section ul li p {
    font-size: 1.1rem;
  }
}

@media (max-width: 495px) {
  .slider section ul li h4 {
    font-size: 0.9rem;
  }

  .slider section ul li p {
    font-size: 0.9rem;
  }
}

/*------------------------------------------KRAJ AGENDA--------------------------------------------*/

/*----------------------------------------------FAQ---------------------------------------------------*/
#faq {
  position: relative;
  min-height: 100vh;
  background: url(./img/FAQ1_compressed.jpg) no-repeat;
}

#faq h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 5rem;
  line-height: 94px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
  text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07),
    -30px 30px 30px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.35);
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 4rem auto;
}
.accordion-item {
  background: rgba(255, 255, 255, 0.2);
  border: 0.5px solid #ffffff;
  backdrop-filter: blur(74px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 300;
}
/*.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  color: #FFF;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}*/
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #fff, transparent) 1;
  font-family: Roboto;
  font-weight: 300;
}

/*----------------------------------------------------------------------------------------------------*/

/*---------------------------------GENERALNI POKROVITELJ----------------------------------------------*/

#generalni-pokrovitelj {
  position: relative;
  height: 100vh;
  background: url(img/generalniPokrovitelj.png) no-repeat;
  background-size: cover;
}

#generalni-pokrovitelj h2 {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  text-shadow: 8px -8px 10px rgba(0, 0, 0, 0.07),
    -30px 30px 30px rgba(167, 162, 162, 0.05),
    -10px 10px 10px rgba(167, 162, 162, 0.1);
  margin-bottom: 3.5%;
  padding-top: 2%;
}

#generalni-pokrovitelj .levi9 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#generalni-pokrovitelj .levi9-container {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  backdrop-filter: blur(74px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
  position: absolute;
  width: 60%;
  left: 20%;
  right: 20%;
  margin-top: 2rem;
  padding: 0.75rem;
  font-family: Roboto;
  color: #ffffff;
  font-weight: 300;
}

/* @media screen and (max-width: 426.98px) {
  #generalni-pokrovitelj h2 {
  }
} */

@media screen and (max-width: 767.98px) {
  #generalni-pokrovitelj h2 {
    font-size: 36px;
  }

  #generalni-pokrovitelj .levi9 img {
    width: 200px;
    height: 100px;
  }
}

/*-----------------------------------------------KRAJ GENERALNI POKROVITELJ------------------------------------*/

#partneri {
  position: relative;
  height: 100vh;
  background: url(img/partneri1.png) no-repeat;
}

#partneri h2,
#partneri h3 {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 94px;
  text-align: center;
  color: #ffffff;
  text-shadow: 8px -8px 10px rgba(0, 0, 0, 0.07),
    -30px 30px 30px rgba(167, 162, 162, 0.05),
    -10px 10px 10px rgba(167, 162, 162, 0.1);
  margin-bottom: 2%;
  padding-top: 2%;
}

#partneri h3 {
  font-size: 40px;
  line-height: 30px;
  margin-bottom: 20px;
}

#partneri #partner-bars {
  position: relative;
  width: 60%;
  height: 66.7%;
  margin: auto;
}

#partneri #partner-bars .bar-partneri {
  position: relative;
  width: 100%;
  height: 30.4%;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(74px);
  border-radius: 15px;
  margin-bottom: calc((100% - 91.2%) / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-generalni {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 60%;
}
.general-logo {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 200px !important;
  height: 100px !important;
}
.swiper-generalni .swiper-wrapper {
  position: relative;
  width: 10000%;
}

.swiper-generalni .swiper-slide {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 250px !important;
  height: 120px !important;
}
.swiper-naturalni {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 60%;
}

.swiper-naturalni .swiper-wrapper {
  position: relative;
  width: 10000%;
}

.swiper-naturalni .swiper-slide {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 292px !important;
  height: 261px !important;
}
.swiper-medijski {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 60%;
}

.swiper-medijski .swiper-wrapper {
  position: relative;
  width: 10000%;
}

.swiper-medijski .swiper-slide {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 292px !important;
  height: 261px !important;
}

#tim-i-footer {
  height: 100vh;
}

#tim-i-footer #team {
  height: 80vh;
  background: url(./img/tim1.png) no-repeat;
}

#tim-i-footer #team h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  color: #14191c;
  text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07),
    -30px 30px 30px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 4.5%;
  padding-top: 2%;
}

#tim-i-footer #team .swiper-container {
  width: 100%;
  transform: translateY(-2rem);
}

@media (max-width: 800.98px) {
  #partneri h3 {
    font-size: 35px;
  }
  #tim-i-footer #team .swiper-container {
    transform: translateY(-1rem);
  }
}
@media (max-width: 575.98px) {
  #partneri h2 {
    font-size: 40px;
    line-height: 120px;
  }
  #partneri h3 {
    font-size: 20px;
  }
  #tim-i-footer #team .swiper-container {
    transform: translateY(-1rem);
  }
}

#tim-i-footer #team .swiper-container .swiper-slide {
  width: 312px !important;
  height: 378px !important;
}

#tim-i-footer #team .swiper-container .swiper-slide .team-card {
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  padding-top: 5px;
  box-sizing: border-box;
  backdrop-filter: blur(74px);
  border-radius: 15px;
}

#tim-i-footer #team .swiper-container .swiper-slide .team-card .team-card-img {
  margin: auto;
  margin-top: 5px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 292px !important;
  height: 261px !important;
}

#tim-i-footer
  #team
  .swiper-container
  .swiper-slide
  .team-card
  .core-ime-i-prezime {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.35rem;
  margin: 0.2rem;
}

#tim-i-footer #team .swiper-container .swiper-slide .team-card .core-uloga {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.25rem;
}

/* Footer treba da se uradi */

#tim-i-footer #footer {
  height: 20vh;
  background-color: #14191c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer-logo {
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  width: 50%;
}

@media (max-width: 575.98px) {
  #footer-logo {
    display: none;
  }
}

#footer-logo img {
  width: 250px;
  height: 90px;
}

#kontakt-ikonice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2.5rem;
  width: 20%;
}

#kontakt-ikonice i {
  color: #fff;
  transition: color 0.5s;
}

#kontakt-ikonice a {
  height: 3rem;
  display: flex;
  width: 3rem;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background: linear-gradient(
    168.53deg,
    rgba(234, 255, 254, 0.5) 0%,
    rgba(201, 217, 241, 0.5) 97.46%
  );
  margin-right: 1rem;
  text-decoration: none;
}

#kontakt-ikonice a:hover > i {
  color: #cc1f38;
}
/*---------------------------media queries------------------------------------------*/

@media (max-width: 1200px) {
  .containerR1,
  .containerR2 {
    display: grid;
    left: 3%;
    right: 3%;
    width: 94%;
    grid-template-areas: "h2" "txt" "txt" "btn btn" !important;
    height: 82vh;
  }
  .cardR1,
  .cardR2 {
    box-shadow: none;
    transition: 0.3s;
    width: 70%;
    margin-left: 10%;
    margin-top: 15%;
    border-radius: 5px;
    grid-area: img;
  }
  #btn1R1,
  #btn1R2 {
    height: 40%;
    width: 70%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 750px) {
  #titleR1,
  #titleR2 {
    font-size: 2.5rem;
    padding-top: 8%;
  }
  .containerR1,
  .containerR2 {
    display: grid;
    left: 3%;
    right: 3%;
    width: 94%;
    grid-template-areas: "h2" "txt" "txt" "btn btn" !important;
    height: 82vh;
  }

  #subtitleR1 {
    font-size: 1.5rem;
    width: 100%;
    text-shadow: none;
  }
  #subtitleR2 {
    font-size: 1.5rem;
    width: 100%;
    text-shadow: none;
  }
  .buttonsR1,
  .buttonsR2 {
    display: flex;
    width: 100%;
    grid-area: btn;
    justify-content: space-around;
  }
  #textR1,
  #textR2 {
    font-size: 1.2rem;
    width: 100%;
    text-align: justify;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-right: 0%;
  }
  #titleSpeed,
  #titlePanel {
    font-size: 1.5rem;
    padding-top: 0%;
  }
  .cardR1,
  .cardR2 {
    display: none;
  }

  #textSpeed,
  #textPanel {
    font-size: 0.8rem;
  }
  #datingAndPanel {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
  }
  .panelDiskusija,
  .speedDating {
    height: 40vh;
  }
  .panelDiskusija {
    margin-top: 20%;
    grid-template-areas: "h2" "txt";
  }
  #btn1R1,
  #btn1R2 {
    height: 60%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .speedDating {
    grid-template-areas: "h2" "txt";
  }
}
@media (max-width: 560px) {
  #titleR1,
  #titleR2 {
    font-size: 2.5rem;
    padding-top: 8%;
  }
  .containerR1,
  .containerR2 {
    display: grid;
    left: 3%;
    right: 3%;
    width: 94%;
    grid-template-areas: "h2" "txt" "txt" "btn btn" !important;
    height: 82vh;
  }

  #subtitleR1 {
    font-size: 1.5rem;
    width: 100%;
    text-shadow: none;
  }
  #subtitleR2 {
    font-size: 1.5rem;
    width: 100%;
    text-shadow: none;
  }
  .buttonsR1,
  .buttonsR2 {
    display: flex;
    width: 100%;
    grid-area: btn;
    justify-content: space-around;
  }
  #textR1,
  #textR2 {
    font-size: 1.2rem;
    width: 100%;
    text-align: justify;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-right: 0%;
  }
  #titleSpeed,
  #titlePanel {
    font-size: 1.5rem;
    padding-top: 0%;
  }
  .cardR1,
  .cardR2 {
    display: none;
  }

  #textSpeed,
  #textPanel {
    font-size: 0.8rem;
  }
  #datingAndPanel {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
  }
  .panelDiskusija,
  .speedDating {
    height: 40vh;
  }
  .panelDiskusija {
    margin-top: 20%;
    grid-template-areas: "h2" "txt";
  }
  #btn1R1,
  #btn1R2 {
    height: 60%;
    width: 70%;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .speedDating {
    grid-template-areas: "h2" "txt";
  }
}
@media (max-width: 380px) {
  #titleR1,
  #titleR2 {
    font-size: 2.5rem;
    padding-top: 6%;
  }
  .containerR1,
  .containerR2 {
    display: grid;
    left: 3%;
    right: 3%;
    width: 94%;
    grid-template-areas: "h2" "txt" "txt" "btn btn" !important;
    height: 84vh;
  }

  #subtitleR1 {
    font-size: 1.5rem;
    width: 90%;
    text-shadow: none;
  }
  #subtitleR2 {
    font-size: 1.5rem;
    width: 90%;
    text-shadow: none;
  }
  .buttonsR1,
  .buttonsR2 {
    display: flex;
    width: 100%;
    grid-area: btn;
    justify-content: space-around;
  }
  #textR1,
  #textR2 {
    font-size: 1.2rem;
    width: 100%;
    text-align: justify;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-right: 0%;
    padding-top: 0%;
  }
  #titleSpeed,
  #titlePanel {
    font-size: 1.5rem;
    padding-top: 0%;
  }
  .cardR1,
  .cardR2 {
    display: none;
  }

  #textSpeed,
  #textPanel {
    font-size: 0.8rem;
  }
  #datingAndPanel {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
  }
  .panelDiskusija,
  .speedDating {
    height: 40vh;
  }
  .panelDiskusija {
    margin-top: 20%;
    grid-template-areas: "h2" "txt";
  }
  #btn1R1,
  #btn1R2 {
    height: 60%;
    width: 70%;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .speedDating {
    grid-template-areas: "h2" "txt";
  }
}
@media (max-width: 361px) {
  #titleR1,
  #titleR2 {
    font-size: 2.1rem;
    padding-top: 5%;
  }
  .containerR1,
  .containerR2 {
    display: grid;
    left: 1%;
    right: 1%;
    width: 98%;
    grid-template-areas: "h2" "txt" "btn" !important;
    height: 82vh;
  }

  #subtitleR1 {
    font-size: 1.5rem;
    width: 95%;
  }
  #subtitleR2 {
    font-size: 1.5rem;
    width: 95%;
  }
  .buttonsR1,
  .buttonsR2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    grid-area: btn;
    justify-content: space-between;
  }
  #textR1,
  #textR2 {
    font-size: 1rem;
    width: 95%;
    margin-left: 10px;
  }
  #titleSpeed,
  #titlePanel {
    font-size: 1.5rem;
    padding-top: 0%;
  }

  #textSpeed,
  #textPanel {
    font-size: 0.8rem;
  }
  #datingAndPanel {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
  }
  .panelDiskusija,
  .speedDating {
    height: 40vh;
  }
  .panelDiskusija {
    margin-top: 20%;
    grid-template-areas: "h2" "txt";
  }
  .buttonsR1,
  .buttonsR2 {
    display: flex;
    justify-content: space-around;
  }
  #btn1R1,
  #btn1R2 {
    height: 60%;
    width: 70%;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .speedDating {
    grid-template-areas: "h2" "txt";
  }
}
@media (max-width: 330px) {
  .containerR1,
  .containerR2 {
    height: 84.5vh;
  }
  #textR1,
  #textR2 {
    width: 90%;
  }
  #subtitleR1,
  #subtitleR2 {
    width: 100%;
  }
  #titleR1,
  #titleR2 {
    padding-top: 8%;
  }
  .buttonsR1,
  .buttonsR2 {
    display: flex;
    justify-content: space-around;
  }
  #btn1R1,
  #btn1R2 {
    height: 60%;
    width: 70%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

/****************  NAVBAR, HEADER, O PROJEKTU   *****************/
.height-100 {
  height: 100vh !important;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  background-color: #485461;
  background: linear-gradient(74.12deg, #2c3134 0%, #14191c 100%);
  overflow: hidden;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 6rem;
}

.menu {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}

.hamburger-menu {
  height: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  width: 1.9rem;
  height: 3px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
  border-radius: 2px;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.main-container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.main-container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.main-container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.main-container.active .should-change .main {
  border-radius: 1rem;
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5)
    translateY(2rem);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5)
      translateY(2rem);
  }
}

.navbar-active-links {
  position: fixed;
  width: 27%;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-active-logo {
  position: fixed;
  top: 2rem;
  left: 4.5rem;
  width: 12rem;
}

.navbar-active-logo img {
  width: 100%;
}

ul {
  list-style: none;
}

.navbar-active-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  transition: color 0.5s;
  opacity: 0;
  letter-spacing: 1px;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
  position: relative;
}

.navbar-active-link:hover {
  color: #cc1f38;
}

.main-container.active .navbar-active-links a {
  animation: appear 0.5s forwards ease var(--i);
}

.navbar-active-social-media,
.navbar-active-social-media2.footer {
  position: fixed;
  bottom: 3rem;
  right: 0;
  width: 27%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-active-social-media a,
.navbar-active-social-media2 a {
  height: 3.5rem;
  display: flex;
  width: 3.5rem;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background: linear-gradient(
    168.53deg,
    rgba(234, 255, 254, 0.5) 0%,
    rgba(201, 217, 241, 0.5) 97.46%
  );
  margin-right: 1rem;
  text-decoration: none;
}

.navbar-active-social-media a:hover {
  animation: growAndShrink 1s ease-in-out 0s infinite alternate both;
}

@keyframes growAndShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.navbar-active-social-media a i,
.navbar-active-social-media2 a i {
  color: #fff;
  transition: color 0.5s;
}

.navbar-active-social-media a:hover > i,
.navbar-active-social-media2 a:hover > i {
  color: #cc1f38;
}

.navbar-active-social-media2.footer {
  position: initial;
  height: 100%;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  border-radius: 1rem;
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  border-radius: 1rem;
  z-index: -2;
  opacity: 0.1;
}

.main-container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5)
    translateY(2rem);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5)
      translateY(2rem);
  }
}

.main-container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5)
    translateY(2rem);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5)
      translateY(2rem);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5)
      translateY(2rem);
  }
}

.main-container.active .should-change .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5)
    translateY(2rem);
}

.main-container.active .should-change .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5)
    translateY(2rem);
}

@media (max-width: 767.98px) {
  .main-container.active .should-change .main,
  .main-container.active .should-change .shadow {
    display: none;
  }
  .navbar-active-logo {
    top: 1rem;
    left: 1.5rem;
  }
  .navbar-active-links {
    width: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
  }
  .navbar-active-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar-active-social-media,
  .navbar-active-social-media2.footer {
    bottom: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

#header {
  height: 100vh;
  background: url("./img/headerBg.png") no-repeat center;
  background-size: cover;
  position: relative;
  transform-origin: left;
}

.logo-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 40rem;
  min-height: 20rem;
  left: 15rem;
  top: 12rem;
}

.img-wrapper {
  min-width: 17rem;
  width: 60%;
  animation: fade-in 1s ease-out 0s 1 alternate both;
}

@keyframes fade-in {
  from {
    transform: scale(0.5);
    opacity: 0.2;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.img-wrapper img {
  width: 100%;
}

#header .title {
  display: flex;
  align-items: center;
  padding-left: 0.4rem;
  margin: 1rem 0 1rem 0;
}

#header .title h1 {
  line-height: 100%;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  opacity: 0;
  animation: blurToSharpWhite 1.6s ease-in 1s 1 alternate both;
}

#header .title h1 span {
  animation: blurToSharpRed 1.6s ease-in 1s 1 alternate both;
}

@keyframes blurToSharpWhite {
  0% {
    color: transparent;
    text-shadow: 0 0 15px rgba(255, 255, 255);
  }

  100% {
    opacity: 1;
    color: #fff;
    text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07);
  }
}

@keyframes blurToSharpRed {
  0% {
    color: transparent;
    text-shadow: 0 0 15px rgba(204, 30, 57);
  }

  100% {
    color: #cc1e39;
    text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07);
  }
}

.button-wrapper {
  padding-left: 0.4rem;
  animation: leftToRight 1.5s cubic-bezier(0.35, 1.3, 1, 1) 1.5s 1 alternate
    both;
}

@keyframes leftToRight {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}

button {
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  border-radius: 1rem;
  letter-spacing: 0.1rem;
  padding: 1rem 2rem 1rem 2rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07),
    -30px 30px 30px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.35);
  transition: transform 0.5s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05) translateY(-0.5rem);
}

@media (max-width: 1199.98px) {
  .logo-wrapper {
    left: 10rem;
    top: 9rem;
  }
}

@media (max-width: 991.98px) {
  .logo-wrapper {
    left: 7rem;
    top: 10rem;
  }
  #header {
    background-position-x: 0px;
  }
}

@media (max-width: 767.98px) {
  .logo-wrapper {
    width: 80%;
    left: 20%;
    top: 5rem;
  }
  .title h1 {
    font-size: 3rem;
  }
}

@media (max-width: 426.98px) {
  .logo-wrapper {
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }
  .title h1 {
    font-size: 1.7rem;
    text-align: center;
  }
}

/* O PROJEKTU */
.container-wrapper-2,
.container-wrapper-3,
.container-wrapper-4,
.container-wrapper-5,
.container-wrapper-6,
.container-wrapper-7,
.container-wrapper-8 {
  position: relative;
}

#o-projektu {
  min-height: 100vh;
  background: url("./img/oProjektuBg.png") no-repeat center;
  background-size: cover;
  position: relative;
}

.o-projektu-wrapper {
  position: absolute;
  min-width: 28rem;
  width: 30%;
  left: 55%;
  bottom: 5rem;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.o-projektu-wrapper .title h2 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  color: #14191c;
  text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.07),
    -30px 30px 30px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 0.5rem;
}

.o-projektu-wrapper .text p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: rgba(20, 25, 28, 0.8);
}

.o-projektu-wrapper .text p:nth-child(1) {
  margin-bottom: 2rem;
}

@media (max-width: 991.98px) {
  .o-projektu-wrapper {
    left: initial;
    right: 10%;
  }
}

@media (max-width: 426.98px) {
  .o-projektu-wrapper {
    min-width: initial;
    width: 96% !important;
    max-height: 99%;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
    bottom: initial;
  }

  .o-projektu-wrapper .text p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  .o-projektu-wrapper .title h2 {
    font-size: 2.5rem;
  }
}
